body {
  padding: 0;
  box-sizing: border-box;
  margin: auto;
}
.container {
  display: inline;
}

.address {
  background-color: red;
  color: white;
  /* display: flex; */
  justify-content: space-between;
  align-self: center;
  align-items: stretch;
  width: 66%;
}
.referees {
  display: block;
  justify-content: space-between;
}
h4 {
  display: block;
}
h3 {
  display: block;
}
